DATABASE_URL="mysql://dev_username:dev_password@localhost:3306/strwiker"

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

GITHUB_ID=<generated client id from https://github.com/settings/apps/strwiker>
GITHUB_SECRET=<generated client secret from https://github.com/settings/apps/strwiker>