name: Terraform Plan

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - '**.tf'

env:
  TERRAFORM_CLOUD_TOKENS: app.terraform.io=${{ secrets.TF_CLOUD_TOKEN }}

jobs:
  plan-terraform:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: read

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    defaults:
      run:
        working-directory: ./terraform

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_wrapper: false
      
      - name: Initialize Terraform
        run: terraform init

      - name: terraform validate
        uses: dflook/terraform-validate@v1
        with:
          path: terraform
      
      - name: terraform plan
        uses: dflook/terraform-plan@v1
        with:
          path: terraform
          variables: |
            vercel_api_token = "${{secrets.VERCEL_TERRAFORM_API_TOKEN}}"
            github_repository_name = "${{github.event.repository.name}}"
            supabase_access_token = "${{secrets.SUPABASE_ACCESS_TOKEN}}"
            supabase_organization_id = "${{secrets.SUPABASE_ORGANIZATION_ID}}"
            supabase_database_password = "${{secrets.SUPABASE_DATABASE_PASSWORD}}"